html,
body {
    height: 100%;
}
body {
    background-color: black;
    color: whitesmoke;
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    margin: 0;
}
table {
    width: 100%;
    text-align: center;
}
/*
Main container
 */
#container {
    border-radius:5px;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    background-color:#d6dfde;
    border-radius:0px 5px 0px  0px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 2px;
    margin: 0 5px 10px;
}
.tab {
    padding: 10px;
    color:black;
}